<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=" width: 100vw ; height: max-content;padding: 10px 20px;">

        <main 
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;margin: auto; max-width: 600px; max-height: max-content; ">
        
        
        <header style="w-full ; display: flex;flex-direction: row ; ">
            <img src="./public//logoLily.png" alt="logo" style=" min-width: 100px; min-height: 100px; max-width: 200px; max-height: 200px; width: ;">
            <h3>Hii user welcome to lilypot</h3>
            
        </header>
        
        
        
    </main>
</div>
</body>
</html>